<%- contentFor('content')%>

<div class="page-header text-center">
	<h1><span class="fa fa-anchor"></span> ProDashboard</h1>
	<a href="/logout" class="btn btn-default btn-sm">Logout</a>
	<a href="/products/add" class="btn btn-default btn-sm">Add product</a>
</div>

<div class="row">

	<!-- LOCAL INFORMATION -->
	<div class="col-sm-6">
		<div class="well">
			<h3><span class="fa fa-user"></span> Local</h3>

				<p>
					<strong>id</strong>: <%= user._id %><br>
					<strong>name</strong>: <%= user.local.name %><br>
					<strong>email</strong>: <%= user.local.email %><br>
					<strong>password</strong>: <%= user.local.password %>
				</p>

		</div>
	</div>

</div>

